Thumbs.db
.DS_Store
/node_modules/
/.storybook/build/
/dist/
/js/
/lib/
.idea
app/translations.js
app/components/
css/style.css
style.css
img/lib
aws.json
server.crt
server.key
version.json
tsconfig.json
.vscode
/package-lock.json
yarn.lock
yarn-error.log
/report.xml
junit_reports
/.bash_profile
__snapshots__
